* {
    margin:0;
    padding:0;
    box-sizing: border-box; /*adds the amrgin and padding into the final size*/
}
html{
    --grid-size: 1;
}

#gameboard {
    display: grid;
    /* repeat takes in 2 params
    how many times to repeat, and what we're repeating */
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    border: 3px solid black;
    height: 80vh;
    width: 80vh;
}

.black{
    background-color: black;
}
.other{
    background-color: green;
}
.death-square{
    background-color: red;
}
#gameboard div{
    font-size: 300%;
    text-align: center;
    justify-content: center;
}